<style>
	.imageTitle{
		font-family:"Times New Roman",Times,serif;
		font-style:oblique;
		font-size:20px;
		text-align:center;
	}
	
	div{
		text-align:center;
	}
	
	img#screen{
		width:1000px;
		height:auto;
	}
	
</style>
<script>
  var url = "";
  function update(link){
  	  //$("div#display").empty();
      $.getJSON(link,function(result){
      $.each(result, function(i, field){
        //$("div#display").append(field + " ");
        if(i=="message"){
        	$("label#message").text(field);
        }
        if(i=="currImage"&&field!=null){
        	if(field["url"]!=url){
        		$("img#screen").attr("src", field["url"]);
        		url = field["url"];
        	}
        }
        
        
      });
    });
    
  }
  
  var refreshIntervalId = -1;
  $(document).ready(function(){
  $("button").click(function(){
  	if(refreshIntervalId!=-1){
  		clearInterval(refreshIntervalId);
  	}
  	var link = "http://sleepy-scrubland-3038.herokuapp.com/client/checkin.json";
  	//var link = "http://sleepy-scrubland-3038.herokuapp.com/client/checkin.js";
  	link+="?snumber="+$("#serialNumber").val();
  	refreshIntervalId = setInterval(function(){update(link);},2000);
  });
  });
</script>

<div>
	<%=label_tag 'order','Please enter your serial number'%> <%=text_field_tag 'serialNumber' %>
	<button>Get JSON data</button>
</div>
<div id = "display">
    <label id="message">Message</label>
</div>
<div id = "screen">
	<img id="screen" src="/images/blackscreen.png"></img>
</div>

